.chatlist {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.chatlist__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightsteelblue;
}

.chatlist__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.chatlist__headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.chatlist__search {
  display: flex;
  align-items: center;
  background-color: mediumaquamarine;
  height: 39px;
  padding: 10px;
}

.chatlist__searchContainer {
  display: flex;
  align-items: center;
  background-color: mintcream;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}
